table{
background-image: url("img/huellas.png");
    border: 5px double grey;
}
#cabecera{
background-color: green;
}
#primera{
    background-color: rgb(252, 138, 118);
}
 #segunda{
    background-color: rgb(236, 236, 96);
 }
td{
    border: 1px solid black;
    text-align: center;
    color: darkred;
}